# .env.example
# Copy to `.env` and fill in any placeholders.
# Do NOT commit your real .env file.
# Put .env in your .gitignore, preferably in the first commit.

APP_NAME= #Application name in lower case and separated by hyphens
APP_ENV= {dev/test/int/prod}
APP_BUILD={cloud/local}

# Generate a real secret key and paste it here:
#   python -c "import secrets; print(secrets.token_urlsafe(50))"
DJANGO_SECRET_KEY=CHANGE_THIS_NOW

# Development default settings
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# Optional: if serving from specific origins, list them comma-separated
# DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,https://example.com
