# .env.example
# Copy to `.env` and fill in any placeholders.
# Do NOT commit your real .env file.
# Put .env in your .gitignore, preferably in the first commit.

APP_NAME= #Application name in lower case and separated by hyphens
APP_ENV= {dev/test/int/prod}
APP_BUILD={cloud/local}

# Generate a real secret key and paste it here:
#   python -c "import secrets; print(secrets.token_urlsafe(50))"
DJANGO_SECRET_KEY=

# Development default settings
DJANGO_DEBUG=True # Ensure you turn this off in production!
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://127.0.0.1:8443,https://localhost:8443

# Search Capability
BRAVE_API_KEY=

# Model to use for llama-cpp-python
GGUF_FILE_NAME =

# Optional: if serving from specific origins, list them comma-separated
# DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,https://example.com
