# Environment Setup Files
.env

# Database
db.sqlite3

# Collected static assets built from collectstatic
staticfiles/

# Files Uploaded By User
media/

# Development Environment
.idea

# Compiled Python Files
*.pyc

# Certificates for HTTPS
*.pem

# Code Coverage
.coverage

# IPython Checkpoints
notebook/.ipynb_checkpoints

# Logs
logs/

# Models
!models/.gitkeep